<div class="todoList">
<h1>{{title}}</h1>
<input type="text" #newTodo />
<button class="add" (click)="addTodo(newTodo.value); newTodo.value=''">Add</button>
<table>
  <tr>
    <th class="label">label</th>
    <th class="done">done</th>
    <th class="actions">actions</th>
  </tr>

  <tr *ngFor="let todo of todos">
     <td>{{todo.label}}</td>
     <td class="doneIcons">{{todo.done ? '&#10003;' : '&#10005;'  }}</td>
     <td class="actions">
       <button class="action-btn" (click)="deleteTodo(todo)">delete</button>
     </td>
  </tr>
</table>
</div>